* {
	margin:0;
	padding:0;
    white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
	overflow-x: hidden;
}
body {
				background-color:#002868;
				color: #ffffff;
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
				font-size: calc(15px + 0.390625vw); line-height: 1.8;
				width:auto;
				height:100%;
				margin:auto;
		    		line-height:normal;
			}
p a:link{ color:#af2735; }
			hr {
				margin-top: 1%;
				border: 1px solid;
			}
p{
				text-align: center;
				white-space: normal;
				word-wrap: nowrap;
				word-break: keep-all;
				overflow-x: hidden;
				overflow-y:hidden;
				margin:0;
				display: block;
				justify-content: space-between;
				line-height:120%;
				line-height:normal;
				padding-right:10%;
				padding-left:10%;
				height:auto;
				font-weight:lighter;
				color:#ffffff;
				max-width:90%;
				min-width:30%;
			}
