.header-1 {
				text-align: center !important;
				font-size: calc(15px + 0.390625vw);
				width: 100%;
				background-color: #990000;
				color: #777777;
				text-shadow: 0 1px 0 #fff;
				display: fixed;
				white-space: no-wrap;
				word-break: keep-all;
				overflow-x: hidden;
				line-height:1;
				line-height:normal;
				z-index:3;
			}
			.header-2 {
				text-align: center;
				width: 100%;
				white-space: normal;
				word-wrap: nowrap;
				word-break: keep-all;
				overflow-x: hidden;
				font-size: calc(15px + 0.390625vw);
				line-height:normal;
				color: #777777;
			}
			.header-5{
				text-align: center;
				width: 100%;
				color: #777777;
				text-align:center;
				font-size: calc(15px + 0.390625vw);
				display: block;
				white-space: normal;
				word-wrap: nowrap;
				word-break: keep-all;
				overflow-x: hidden;
				margin-bottom:0;
				background-color: #990000;
        font-weight:lighter;
			}
	
.header {
  background-color: #990000;
  position: fixed;
  width: 100%;
  display: inline-block;
				white-space: normal;
				word-wrap: nowrap;
				word-break: keep-all;
				overflow-x: hidden;
				max-width:100%;
	padding-right:30px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #990000;
  display: block;
				white-space: nowrap;
				word-wrap: nowrap;
				word-break: keep-all;
				overflow-x: hidden;
	position:fixed;
	top:0;
	right:0;
}

.header li a {
  display: inline-block;
  padding: 20px 20px;
  text-decoration: none;
  background-color: #990000;
  color: #EDEBEB;
  font-size:calc(15px + 0.390625vw);
  white-space:nowrap;
  
}

.header li a:hover,
.header .menu-btn:hover {
  text-decoration: underline;
  color: #EDEBEB;
  font-size:calc(15px + 0.390625vw);
	background-color: #990000;
}

.header .logo {
  display: inline-block;
  padding: 20px 20px;
  text-decoration: none;
  color: #EDEBEB;
  font-size:calc(15px + 0.390625vw);
  font-weight:bold;
  position:fixed;
  top:0;
  left:0;
  border-right: 1px none;
	background-color: #990000;

}
